:root{
    --main-bg-color: #E0DDCF;
    --header-bg-color:#534B52;
    --aside-bg-color: #F1F0EA;
    --footer-bg-color:#2D232E;
    --footer-bg-color-a: #474448;
    --font-main:Verdana, Geneva, Tahoma, sans-serif;

}
*{
    box-sizing: border-box;
}
body,html{
  
    margin:0;
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 3fr 2fr 1fr;
    grid-template-areas: 
    "header header"
    "main  aside"
    "main aside"
    "footer footer"
    ;
}
main{
    grid-area: main;
    background-color: var(--main-bg-color);
}
aside{
    grid-area: aside;
    background-color: var(--aside-bg-color);
}
header{
    grid-area: header;
    background-color: var(--header-bg-color);
}
footer{
    grid-area: footer;
    background-color: var(--footer-bg-color);
}

header{
    display: flex;
    align-items: center;

}
header .logo{
    color: var(--aside-bg-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 1.7rem;
}
header .logo span{
    font-weight:200;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;

}
main .book-card{
   
    padding: 0.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border-left: 10px solid rgba(71, 67, 67,0.5);
    border-bottom: 4px solid var(--footer-bg-color-a);
    color: var(--footer-bg-color);
    font-family: var(--font-main);
    
}
main .book-card:hover{
    border-left: 10px solid rgba(71, 67, 67,1);
}
main .book-card:first-of-type{
    border-top: 3px solid var(--footer-bg-color-a);
  
}


main .book-card .book-title{
    font-size: 1.3rem;
    flex: 2;
    text-decoration: none;
    
    transition: all 0.4s ;
}
main .book-card .book-author{
    flex: 1;
}

main .book-card .book-seen{
    cursor: pointer;
  
}
main .book-card .book-seen img{
  
    height:1.4rem
}


main .book-card .book-pages-count::after{
    content: "pages";
    font-size: 0.9rem;
    font-style: italic;
    padding-left: 0.4rem;
}

main .book-card .book-seen input{
position: absolute;
opacity:0 ;
cursor: pointer;
}

main .book-card .book-seen .check-img{
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(read-svgrepo-com.svg);
    background-position: center;
    background-size: cover;
    
 
}
main .book-card .book-seen input:checked + .check-img{
    background-image: url(un-seen.svg);

}

main .book-card  .remove-book-button{
    height: 50%;
    width: 2rem ;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1rem;
}
.card-template{
    visibility: hidden;
    width: 0;
    height: 0;
    background-color: red;
}
aside .add-book-form{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    align-items: start;
    flex-direction: column;
    gap:0.52rem
}
#new-book-button{
    margin-top: 1rem;
    grid-column: 1 / 3;
    justify-self: center;
    padding: 0.4rem 1rem;
    background-color: var(--footer-bg-color-a);
    color: var(--main-bg-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 12px slategray;
    transition: all 0.3s;

}

#new-book-button:hover{
    opacity: 0.8;
}